[Desktop Entry]
Encoding=UTF-8
Name=Link to BabelRef: Detection and Renaming Tool for Cross-Language Program Entities in Dynamic Web Applications
Type=Link
URL=http://home.engineering.iastate.edu/~hungnv/Research/BabelRef/?page=tool_demo
Icon=text-html
Name[en_US]=BabelRef - Video Demo from Author