[Desktop Entry]
Encoding=UTF-8
Name=Link to BabelRef - How to use on VM - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Aad34ZRl8PY
Icon=text-html
Name[en_US]=BabelRef - How to use on this VM